# =========================
# Frontend (Next.js)
# =========================
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/

# Frontend env files
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local

# Frontend logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# =========================
# Python Backend
# =========================
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
Backend/myenv/

# Python cache/build
*.sqlite3
.pytest_cache/
.mypy_cache/

# Backend env
Backend/.env

# =========================
# Global env files
# =========================
.env

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.log

# =========================
# databse
# =========================
Backend/*.db