fastapi
uvicorn
gunicorn
python-multipart
python-dotenv

langchain==0.3.25
langchain-core==0.3.59
langchain-google-genai==2.1.4

google-ai-generativelanguage==0.6.18
groq

pydantic==2.11.5
numpy
plotly

torch
sentence-transformers
transformers

pymupdf
python-docx

scikit-learn
huggingface-hub
genai