fastapi
uvicorn
gunicorn
python-multipart
python-dotenv

langchain==0.3.25
langchain-core==0.3.59
langchain-google-genai==2.1.4

groq

pydantic==2.11.5
numpy
plotly

pymupdf
python-docx

scikit-learn
huggingface-hub
torch
sentence-transformers
transformers